<!DOCTYPE html>
<html lang="en">
<%- include head %>
<body class="wrapup">

  <noscript>
    <p>Oooooo, sorry that's the wrong answer. You actually need JavaScript enabled!</p>
    <p>Be sure and come back when you have JavaScript enabled - It's 2013!!!!111!1!</p>
  </noscript>

  <div id="container">
    <%- include masthead %>
    <section role="main">
      <%- include wrapup-body %>
      <%- include twitter %>
      <%- include sponsors %>
    </section>
    <%- include footer %>
  </div>


</body>
</html>